{% extends 'FUBerlinProjectBundle::base.html.twig' %}

{% block content %}

{% if app.user %}

<div class="page-header">
    <h1>Hello, {{ app.user.username }}</h1>
</div>

<div class="row">
    <div class="span7">
        <legend>My events</legend>
        <div style="padding: 8px 0;" class="well">
            <ul class="nav nav-list">
                <li class="nav-header">Open events</li>
                    {% if events.count > 0 %}
                        {% for event in events %}
                            <li><a href="{{ path('event_view', {'id' :event.id}) }}"> {{event.title}}</a></li>
                        {% endfor %}
                    {% else %}
                        <li class="disabled">You don't have any events yet</li>
                    {% endif %}
                <li class="nav-header">Closed events</li>
                <li>-</li>
                <li class="divider"></li>
                <li>-</li>
            </ul>
        </div>
    </div>
    <div class="span5">
        <legend>Tools</legend>
        <div style="max-width: 400px; margin: 0 auto 10px;" class="well">
            <a href="{{ path('event_add') }}" class="btn btn-large btn-block btn-success"><i class="icon-glass icon-white"></i> Add an event</a>
            <a href="" class="btn btn-large btn-block btn-warning"><i class="icon-search icon-white"></i> anything</a>
            <a href="" class="btn btn-large btn-block btn-danger"><i class="icon-trash icon-white"></i> else</a>
        </div>
    </div>
</div>

{% else %}

<div class="hero-unit">
    <h1>Abrechner3000!</h1>
    <p>
        You have an event and many peoples with different expenses? So you definitively need Abrechner3000!!!
    </p>
    <p>
        <a href="{{ path('register') }}" class="btn btn-primary btn-large">Register</a>
    </p>
</div>
<div class="row">
    <div class="span8">
        <h2>Recent events:</h2>
    </div>
    <div class="span4">
        <form action="{{ path('login_check') }}" class="form-signin" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="text" placeholder="Username" name="_username" class="input-block-level">
            <input type="password" placeholder="Password" name="_password" class="input-block-level">
            <button type="submit" class="btn btn-large btn-primary">
                login
            </button>
        </form>
    </div>
</div>

{% endif %}
    
{% endblock %}

{% block title %}
Startpage
{% endblock %}