{% extends 'FUBerlinProjectBundle::base.html.twig' %}

{% block content %}

<form class="form-horizontal well" action="{{ path('event_add') }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
        <legend>{{'Add Event'|trans}}</legend>
    
        {{ form_widget(form) }}

        <div class="form-actions">
            <button class="btn btn-primary" type="submit">{{'Add'|trans}}</button>
            <button class="btn" type="reset">{{'Cancel'|trans}}</button>
        </div>
        
    </fieldset>
</form>
{% endblock %}