{% extends 'FUBerlinProjectBundle::base.html.twig' %}

{% block content %}
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>
                {{ event.title }} <small>{{ event.place }}</small>
                
                {% if event.billed %}
                <a href="javascript:void(0);" class="btn btn-success pull-right disabled" style="margin-top: 5px;"><i class="icon-ok icon-white"></i> Event is billed</a>
                {% elseif event.ownerUser == app.user %}
                <a href="{{ path('event_bill', {'id' :event.id}) }}" class="btn btn-success pull-right" style="margin-top: 5px;"><i class="icon-ok icon-white"></i> Bill event</a>
                {% elseif not is_member %}
                <a href="{{path('event_join', {'id' :event.id})}}" class="btn btn-primary pull-right" style="margin-top: 5px;"><i class="icon-plus icon-white"></i> Join event</a>
                {% endif %}
            </h1>
        </div>
        
    </div>
</div>

<div class="row">
    <div class="span7">
        
        {% if positions.count > 0 %}

        <div class="">
            <legend>Positions <small>(total: {{event.eventPositionsTotal}} {% if is_member %}my: {{event.eventPositionsTotalForUser(app.user)}} {% endif %})</small></legend>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Amount</th>
                        <th>User</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for position in positions %}
                        {% if position.user.username == app.user.username%}
                            <tr class="success">
                        {% else %}
                            <tr>
                        {% endif %}
                                <td>{{position.title}} </td>
                                <td>{{position.amount}}</td>
                                <td>{{position.user.username}}</td>
                                <td>
                                    {% if position.canBeDeletedByUser(app.user) %}
                                    <a class="close" href="{{path('position_delete', {'id' :position.id})}}">&times;</a>
                                    {% endif %}
                                </td>
                                <!--{#<td>
                                    {% if position.canBeEditByUser(app.user) %}
                                    <a class="close" href="{{path('position_edit', {'id' :position.id})}}">Edit</a>
                                    {% endif %}
                                </td>#}-->
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        {% endif %}
        
        {% if not event.billed %}
            
            <form action="{{ path('position_add', {'id' :event.id}) }}" method="post" {{ form_enctype(position_form) }}>
                <fieldset>
                    <legend>Add new position</legend>
                    {{ form_widget(position_form) }}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Add</button>
                        <button type="reset" class="btn">Clear</button>
                    </div>
                </fieldset>
            </form>

        {% endif %}
        
    </div>
    
    <div class="span5">

        {% if members %}
        <div class="well">
            <legend>Members</legend>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                        {% if member.username == app.user.username%}
                            <tr class="success">
                        {% else %}
                            <tr>
                        {% endif %}
                                <td>{{member.username}}</td>
                                <td>{{member.firstName}}</td>
                                <td>{{member.lastName}}</td>
                                <td>{{event.amountForUser(member)}}</td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        {% if comments %}
            <legend>Comments</legend>
        
            {% for comment in comments %}
            
                <blockquote>
                    <p>{{comment.comment}}</p>
                    <small>
                        {{comment.user.username}} wrote on {{comment.timestamp|date("d.m.Y H:m:s")}}
                        
                        {% if comment.canBeDeletedByUser(app.user) %}
                            <a class="close" href="{{path('comment_delete', {'id' :comment.id})}}">&times;</a>
                        {% endif %}
                        
                    </small>
                </blockquote>
            
            {% endfor %}
            
        {% endif %}

        {% if is_member %}
            <form class="" action="{{ path('comment_add', {'id' :event.id}) }}" method="post" {{ form_enctype(comment_form) }}>
                <div class="form-actions">
                    {{ form_widget(comment_form) }}
                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit">Add</button>
                        <button class="btn" type="reset">Clear</button>
                    </div>
                </div>
            </form>
        {% endif %}
          
                    
            
    </div>
</div>
            
{% endblock %}

